.about-section {
    display: flex;
    padding: 70px;
    padding-top: 120px;
    background-color: #f0f0f0;
    font-size: large;
}

.subsection {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 3px solid #ffba00;
    background-color: white;
}

.subsection:last-child {
    margin-right: 0;

}

.about-section > .subsection:nth-child(1) {
   height: 80%;
   font-size: 20px;
   background-color: #a8d1c0;
}

.about-section > .subsection:nth-child(2) {
    background-color: #a8d1c0;
    color: #444;
    height: 55%;
    font-size: 20px;
}

.about-section > .subsection:nth-child(3) {
    background-color: #a8d1c0;
    color: #545553;
    height: 75%;
    font-size: 20px;
}