.about-section {
    display: flex;
    padding: 20px;
    background-color: #f0f0f0;
    font-size: large;
}

.subsection {
    flex: 1;
    /* Optional styling for each subsection */
    /* For example: */
    margin-right: 20px;
    padding: 10px;
    border: 3px solid #ffba00;
    background-color: white;
}

.subsection:last-child {
    margin-right: 0;

}

.about-section > .subsection:nth-child(1) {
   height: 80%;
   font-size: 20px;
    
}

.about-section > .subsection:nth-child(2) {
    background-color: #b8f1b0;
    color: #444;
    height: 50%;
    font-size: 20px;
}

.about-section > .subsection:nth-child(3) {
    background-color: #a8d1c0;
    color: #545553;
    height: 70%;
    font-size: 20px;
}