.advent-calendar {
    display: flex;
    gap: 5px;
    height: 600px;
    background-color: #c3dfe3;
}

.days-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    background-color: #c3dfe3;
}

.content-display {  
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

.content-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.day {
    position: relative;
    border: 2px solid salmon;
    width: 80px;
    height: 90px;
    margin: 5px;
    background-size: contain;
    background-color: #D1C7BD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    
}


#day1 {
    background-image: url('/Advent/images/gif1.jpg');
}

#day2 {
    background-image: url('/Advent/images/day2.png');

}

#day3 {
    background-image: url('/Advent/images/day3.jpg');
}

#day4 {
    background-image: url('/Advent/images/day4.png');
}

#day5 {
    background-image: url('/Advent/images/day5.png');
}

#day6 {
    background-image: url('/Advent/images/day6.jpg');
}

#day7 {
    background-image: url('/Advent/images/day7.jpg');
}

#day8 {
    background-image: url('/Advent/images/day8.jpg');
}


#day9 {
    background-image: url('/Advent/images/day3.jpg');
}

#day31 {
    background-image: url('/Advent/images/day31.jpg');
}