#addText,
#penTool,
#saveDrawing,
#clearCanvas,
#showChristmasGIFs {
  display: inline-block;
  padding: 6px 7px;
  margin: 5px;
  background-color: rgb(24, 23, 23);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #ffba00;
}


#addText:hover,
#penTool:hover,
#saveDrawing:hover,
#clearCanvas:hover,
#showChristmasGIFs:hover {
  background-color: #135744;
}