body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8eeee;
}

h1, h2 {
    text-align: center;
}

.cookies {
    max-width: 500px;
    max-height: 300px;
}

.recipe {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

p {
    text-align: center;
    margin-top: 20px;
}
