.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0a8c8;
}


.header {
    margin: 0;
    flex: 1;
}

.button-container {
    display: flex;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #4552ca;
    border: 3px solid #111111;
    border-radius: 5px;
    cursor: pointer;
}

.button:hoover {
    background-color: #a95630;
}