.header-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-style: initial;
    background-color: #5b8f63;
    color: #ffba00;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container:hover {
    background-color: #669c6f;
    transition: background-color 0.3s ease-in-out;
}

.header {
    margin: 0;
    flex: 1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button-container {
    display: flex;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #ffba00;
    background-color: #135744;
    border: 2px solid #ffba00;
    border-radius: 7px;
    cursor: pointer;
}
