.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*background-color: #f0a8c8;*/
    background-color: #6eadda;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container:hover {
    background-color: #8ce082; /* Lighter shade on hover */
    /* Add a transition for a smooth color change */
    transition: background-color 0.3s ease-in-out;
}

.header {
    margin: 0;
    flex: 1;
}

.button-container {
    display: flex;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #4552ca;
    border: 3px solid #111111;
    border-radius: 7px;
    cursor: pointer;
}

.button:hoover {
    background-color: #a95630;
}