.header-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.intro-section {
    max-width: 1200px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    background-image: url('/Advent/images/christmas-snowflakes-watercolour-texture.jpg');
    background-size: auto;
    background-size: cover;
}

.intro-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    background-color: antiquewhite;
}

.intro-text {
    max-width: 80%;
    margin-right: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.image-container {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container video {
    width: 100%;
    height: auto;
}


.calendar-section {
    background-color: #d0d0d0;
    text-align: center;
    padding: 40px;
}