body {
    margin: 0;
    padding: 0;
}


.calendar-section {
    text-align: center;
    padding: 3px;
    height: 700px;
    border-radius: 2px;
    border-left: 3px solid #ffba00;
    border-right: 3px solid #ffba00;
    background-color: #dfe9f5;

}


.about-section {
    text-align: center;
    padding: 40px;
    height: 550px;
}

