body {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
}
.header-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.intro-section {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.intro-text {
    flex: 1;
    max-width: 48%; /* Adjusted width for text */
    margin-right: 4%; /* Added some space between text and image */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}

.image-container {
    flex: 1;
    max-width: 48%; /* Adjusted width for image */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-container video {
    width: 100%;
    height: auto;
}


.calendar-section {
    background-color: #d0d0d0;
    text-align: center;
    padding: 40px;
}

.about-section {
    background-color: #c0c0c0;
    text-align: center;
    padding: 40px;
}


/* Style for snowflake */
.snowflake {
    position: absolute;
    top: -10px;
    left: calc(100% * var(--random-x)); /* Adjust X position within intro-text */
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: snowfall var(--speed) linear infinite, spin 5s linear infinite; /* Combine snowfall and spin animation */
    opacity: 0.8; /* Adjust snowflake opacity */
}

/* Style for red star */
.red-star {
    position: absolute;
    top: -10px;
    left: calc(100% * var(--random-x)); /* Adjust X position within intro-text */
    width: 5px;
    height: 5px;
    background-color: red; /* Change color to red */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: snowfall var(--speed) linear infinite, spin 5s linear infinite; /* Combine snowfall and spin animation */
    opacity: 0.8; /* Adjust star opacity */
}

/* Animation for snowfall */
@keyframes snowfall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}

/* Animation for spin */
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
